<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE_SPECIAL_USE" />

    <application>
        <service
            android:name="com.f0x1d.feature.logging.service.LoggingService"
            android:foregroundServiceType="specialUse"
            android:exported="false">

            <intent-filter>
                <action android:name="logfox.RESTART_LOGGING" />
            </intent-filter>
        </service>
    </application>

</manifest>
