on:
  workflow_dispatch:

  pull_request:
    branches:
      - 'master'

env:
  KEY_STORE_PASSWORD: ${{ secrets.KEY_STORE_PASSWORD }}
  ALIAS: ${{ secrets.ALIAS }}
  KEY_PASSWORD: ${{ secrets.KEY_PASSWORD }}

jobs:
  build:
    uses: ./.github/workflows/build_apk_job.yml
    with:
      checkout_keystore: ${{ github.event.pull_request.user.login == github.repository_owner }}
    secrets: inherit

  send:
    name: Send APK
    if: github.event.pull_request.user.login == github.repository_owner
    runs-on: ubuntu-latest
    needs: build
    steps:
      - name: Checkout
        uses: actions/checkout@v3
        with:
          ref: ${{ github.event.pull_request.head.ref }}

      - name: Get the last commit message
        id: get_commit_msg
        run: |
          commit_message=$(git log -1 --pretty=format:'%s')
          echo "::set-output name=message::$commit_message"

      - name: Download APK
        uses: actions/download-artifact@v4
        with:
          name: logfox-release

      - name: Send APK to Telegram
        uses: appleboy/telegram-action@master
        with:
          to: ${{ secrets.TELEGRAM_TO }}
          token: ${{ secrets.TELEGRAM_TOKEN }}
          format: markdown
          document: app-release.apk
          disable_web_page_preview: true
          message: |
            *${{ github.actor }}* committed to *${{ github.repository }}*

            Branch: *${{ github.head_ref }}*
            Commit message: `${{ steps.get_commit_msg.outputs.message }}`
