on:
  workflow_dispatch:

  push:
    branches:
      - 'master'

env:
  KEY_STORE_PASSWORD: ${{ secrets.KEY_STORE_PASSWORD }}
  ALIAS: ${{ secrets.ALIAS }}
  KEY_PASSWORD: ${{ secrets.KEY_PASSWORD }}

jobs:
  extract_version:
    name: Extract Version
    runs-on: ubuntu-latest
    outputs:
      version_name: ${{ steps.extract.outputs.version_name }}
      version_code: ${{ steps.extract.outputs.version_code }}
    steps:
      - name: Checkout
        uses: actions/checkout@v4
        with:
          fetch-depth: 0

      - name: Extract version from latest tag
        id: extract
        run: |
          LATEST_TAG=$(git describe --tags --abbrev=0)
          VERSION_CODE="${LATEST_TAG##*-}"
          VERSION_NAME="${GITHUB_SHA::7}"
          echo "version_name=$VERSION_NAME" >> $GITHUB_OUTPUT
          echo "version_code=$VERSION_CODE" >> $GITHUB_OUTPUT

  build:
    needs: extract_version
    uses: ./.github/workflows/build_apk_job.yml
    with:
      version_name: ${{ needs.extract_version.outputs.version_name }}
      version_code: ${{ needs.extract_version.outputs.version_code }}
    secrets: inherit

  send:
    name: Send APK
    runs-on: ubuntu-latest
    needs: build
    steps:
      - name: Download APK
        uses: actions/download-artifact@v4
        with:
          name: logfox-release
          path: ./apk

      - name: Send APK to Telegram
        uses: appleboy/telegram-action@master
        with:
          to: ${{ secrets.TELEGRAM_TO }}
          token: ${{ secrets.TELEGRAM_TOKEN }}
          format: markdown
          document: ./apk/LogFox-*.apk
          disable_web_page_preview: true
          message: |
            *${{ github.actor }}* committed to *${{ github.repository }}*

            Branch: *${{ github.ref_name }}*
            Commit: `${{ github.sha }}`
            Commit message: `${{ github.event.head_commit.message }}`
