name: Build APK

on:
  workflow_call:
    inputs:
      checkout_keystore:
        description: 'Whether to checkout keystore repository'
        required: false
        type: boolean
        default: true
      version_name:
        description: 'Version name for the APK'
        required: false
        type: string
        default: ''
      version_code:
        description: 'Version code for the APK'
        required: false
        type: string
        default: ''

env:
  KEY_STORE_PASSWORD: ${{ secrets.KEY_STORE_PASSWORD }}
  ALIAS: ${{ secrets.ALIAS }}
  KEY_PASSWORD: ${{ secrets.KEY_PASSWORD }}
  VERSION_NAME: ${{ inputs.version_name }}
  VERSION_CODE: ${{ inputs.version_code }}

jobs:
  build:
    name: Build APK
    runs-on: macos-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Setup JDK
        uses: actions/setup-java@v4
        with:
          java-version: 21
          distribution: oracle
          cache: 'gradle'

      - name: Checkout keystore repository
        if: ${{ inputs.checkout_keystore }}
        uses: actions/checkout@v4
        with:
          repository: ${{ secrets.KEYSTORE_GIT_REPOSITORY }}
          token: ${{ secrets.KEYSTORE_ACCESS_TOKEN }}
          path: app/keystore

      - name: Build APK
        run: bash ./gradlew :app:assembleRelease -PGIT_SHA=${GITHUB_SHA::7} -PRELEASE_BUILD=true --stacktrace --no-daemon

      - name: Upload APK
        uses: actions/upload-artifact@v4
        with:
          name: logfox-release
          compression-level: 0
          path: app/build/outputs/apk/release/LogFox-*.apk
