on:
  workflow_dispatch:

  push:
    branches:
      - 'main'

env:
  KEY_STORE_PASSWORD: ${{ secrets.KEY_STORE_PASSWORD }}
  ALIAS: ${{ secrets.ALIAS }}
  KEY_PASSWORD: ${{ secrets.KEY_PASSWORD }}

jobs:
  build:
    name: Build APK
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Setup JDK
        uses: actions/setup-java@v4
        with:
          java-version: 17
          distribution: oracle
          cache: 'gradle'

      - name: Checkout keystore repository
        uses: actions/checkout@v4
        with:
          repository: ${{ secrets.KEYSTORE_GIT_REPOSITORY }}
          token: ${{ secrets.KEYSTORE_ACCESS_TOKEN }}
          path: app/keystore

      - name: Build APK
        run: bash ./gradlew assembleRelease --stacktrace --no-daemon

      - name: Upload signed APK
        uses: actions/upload-artifact@v4
        with:
          name: logfox.apk
          path: app/build/outputs/apk/release/app-release.apk

  send:
    name: Send APK to Telegram
    runs-on: ubuntu-latest
    needs: build
    steps:
      - name: Get APK
        uses: actions/download-artifact@v4
        with:
          name: logfox.apk

      - name: Send APK to Telegram
        uses: appleboy/telegram-action@master
        with:
          to: ${{ secrets.TELEGRAM_TO }}
          token: ${{ secrets.TELEGRAM_TOKEN }}
          format: markdown
          document: logfox.apk
          disable_web_page_preview: true
          message: |
            *${{ github.actor }}* committed to *${{ github.repository }}*

            Branch: *${{ github.ref_name }}*
            Commit message: `${{ github.event.commits[0].message }}`

            [Changes](https://github.com/${{ github.repository }}/commit/${{github.sha}})
