on:
  workflow_dispatch:

  push:
    branches:
      - '**'

jobs:
  test:
    name: Run Tests
    runs-on: macos-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Setup JDK
        uses: actions/setup-java@v4
        with:
          java-version: 21
          distribution: oracle
          cache: 'gradle'

      - name: Run Snapshot Tests
        run: bash ./gradlew verifyRoborazziDebug
